body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
}

blockquote p {
  font-size: 14px;
}

header {
  background: #473F39;
  color: white;
  text-align: center;
  padding: 1em 1em;
}

header h1 {
  color: #F9D523;
  font-size: 70px;
  line-height: 1.1;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
  margin: 0.5em 0;
}

header h2 {
  font-size: 3em;
  text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
  margin-bottom: 0.7em;
}

header h3 {
  text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
  margin-bottom: 0.7em;
}

header h1, header h2 {
  text-align: center;
}

header a {
  color: white !important;
}

section {
  margin: 0 auto;
  padding: 2.5em 2em 2em;
}

section .container {
  max-width: 980px;
}

footer {
  color: #ccc;
  background: #473F39;
  padding: 2em 1.5em;
}

.img-border {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

a {
  color: #005580;
  text-decoration: underline;
}

footer a { color: #ccc !important; }